@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,900%27);
body {
    background-color: black;
    font-family: 'Poppins';
}

header {
    display: flex;
    justify-content: space-between;
    padding: 41px 230px 0 177px;
}
.container-navegacao {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.navegacao-interna {
    display: flex;
    list-style: none;
    gap: 30px;
}
.navegacao-interna > li {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #A7A7A7;
}
.navegacao-externa {
    display: flex;
    gap: 20px;
    width: 30px;
    height: 29.26px;
}
.textocentral {
    display: flex;
    justify-content: space-between;
    padding: 177px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    line-height: 3cap;
    color: #D9D9D9;
}
.texto-cabecalho {
    font-family: 'Poppins';
    color: #A7A7A7;
    font-weight: 700;
    font-size: 50px;
}
    
    
h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: #CCCCCC;
}
p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 350;
    font-size: 32px;
    line-height: 26px;
    color: #CCCCCC;
}
.container-imagens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto;
    gap: 100px;
    max-width: 1224px;
    }

.container-imagens > img {
    width: 120px;
    height: 120px;

}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h3 {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 350;
    font-size: 12px;
    line-height: 26px;
    color: #CCCCCC;
}
.circle1 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
    background: black;
}

.circle1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #13B0F5 -2.06%, #E70FAA 100%);
    z-index: -1;
    margin: -9px;
    border-radius: 230px;
}
.circle1 img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    }
.contact {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #A7A7A7;
    line-height: 35px;
    margin-top: 100px;
    margin-bottom: 400px;
     }
    .aboutme {
        font-size: 20px;
        line-height: 35px;
        padding: 14px 100px;
    }
    

    /* Estilos para dispositivos móveis */
    @media only screen and (max-width: 767px) {
        
        body {
            font-size: 14px;
            flex-wrap: wrap;
        }
        header {
            padding: 0%;
            flex-wrap: wrap;
        }
        .textocentral {
            padding: 0%;
            flex-wrap: wrap-reverse;
            font-size: 14px;
            margin-left: 10px;
        }
        .circle1 {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin-left: 90px;
            margin-top: 20px;
        }
        .circle1 img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            }
        .navegacao-interna {
            flex-wrap: wrap;
        }
        .navegacao-externa {
            position: absolute;
            top: 10px;
            right: 10px;
            margin-top: 50px;
            margin-right: 110px;
        }
        .container-imagens {
            margin-left: 30px;
            gap: 50px;
         }
        h2 {
            font-size: 28px;
            }
        p {
            font-size: 28px;
           }
        .aboutme {
            padding: 5px;
            font-size: 16px;
        }   
}

    /* Estilos para tablets */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        
        body {
            font-size: 16px;
        }
        body {
            font-size: 14px;
            flex-wrap: wrap;
        }
        header {
            padding: 0%;
            flex-wrap: wrap;
        }
        .textocentral {
            padding: 0%;
            flex-wrap: wrap-reverse;
            font-size: 14px;
            margin-left: 50px;
            margin-top: 20px;
        }
        .circle1 {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin-left: 90px;
            margin-right: 120px;
        }
        .circle1 img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            }
        .navegacao-interna {
            flex-wrap: wrap;
            margin-right: 40px;
        }
        .navegacao-externa {
            position: absolute;
            top: 10px;
            right: 10px;
            margin-top: 18px;
            margin-right: 140px;
        }
        .container-imagens {
            margin-left: 90px;
           
        }
        .aboutme {
            padding: 10px;
            font-size: 18px;
        }   
    }

    /* Estilos para desktops */
    @media only screen and (min-width: 1024px) {
       
        body {
            font-size: inherit;
        }
        
    }